@font-face {
    font-family: 'MICR';
    src: url('micrenc.ttf');
}

.check,
.check-back {
    /* margin-bottom: 500px; */
    color: black;
    transform-origin: center top;
}

.check {
    font-family: 'Roboto Mono';
    width: 1540px;
    height: 710px;
    /* border: 1px solid black; */
    overflow: hidden;
    padding: 30px 50px;
    box-sizing: border-box;
    font-size: 35px;
    background-color: #9E9E9E;
}

.check .content {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 20px 30px;
    border-radius: 15px;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(255,255,255,0.6);
}

.check .top-align {
    display: flex;
    flex-direction: column;
}

.check .top-align .check-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.check .payer-info > p {
    margin: 0;
}

.check p.payer-name {
    font-weight: 400;
    margin-bottom: 10px;
}

.check .date-info {
    display: flex;
    align-items: center;
}

.check .date-info .date-label {
    margin-right: 20px;
}

.check .date-info .date-string {
    font-weight: 400;
}

.check .payee-info .payee-label {
    margin-right: 20px;
    text-align: center;
}

.check .main-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.check .amount-numberic-info {
    padding: 10px;
    background-color: white;
    border: 2px solid black;
}

.check .main-content .payee-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.check .payee-info .payee-name {
    padding: 0 50px;
    border-bottom: 2px solid black;
    flex-grow: 1;
    margin-right: 50px;
}

.check .amount-numberic-info {
    font-size: 50px;
}

.check .amount-english-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.check .amount-english-info .amount-english {
    flex-grow: 1;
    border-bottom: 2px solid black;
    margin-right: 20px;
    padding: 0 20px;
}

.check .bank-info .bank-name {
    margin: 15px 0 0 0;
    font-weight: 400;
    font-size: 25px;
}

.check .bank-info .bank-address {
    margin: 0;
    font-size: 20px;
}

.check .extra-info {
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
}

.check .extra-info > .memo-info,
.check .extra-info > .signature-space {
    display: flex;
    align-items: center;
}

.check .extra-info > .memo-info {
    flex: 2;
}

.check .extra-info > .signature-space {
    flex: 1;
}

.check .extra-info > .memo-info {
    margin-right: 25px;
}

.check .extra-info > .signature-space {
    margin-left: 25px;
}

.check .memo-info .memo {
    flex-grow: 1;
    border-bottom: 2px solid black;
    padding: 0 20px;
    height: 100%;
}

.check .extra-info .signature-space {
    border-bottom: 2px solid black;
}

.check .memo-info .memo-label {
    margin-right: 20px;
}

.check .bank-account-info {
    font-family: 'MICR';
    font-size: 65px;
    line-height: 65px;
    padding: 0 30px;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.5);
}

.check .bank-account-info .routing-number {
    margin-right: 50px;
}

.check .check-info,
.check .payee-label,
.check .amount-unit-word,
.check .bank-name,
.check .memo-label {
    font-family: 'Roboto';
    font-weight: 300;
}

.check-back {
    font-family: 'Roboto';
    width: 1540px;
    height: 710px;
    /* border: 1px solid black; */
    background-color: white;
}

.check-back .content {
    width: 710px;
    height: 1540px;
    display: flex;
    padding: 30px 20px;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-between;
    transform: rotate(-90deg) translateX(-710px);
    transform-origin: top left;
    /* border: 2px solid red; */
}

.check-back .endorse-label {
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 100px;
    border-bottom: 2px solid black;
    margin-bottom: 200px;
}

.check-back .endorse-warn-space {
    font-size: 20px;
    font-weight: 400;
    border-bottom: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.check-back .endorse-warn-space > p {
    margin: 0;
}

.check-info-form {
    padding: 15px 35px !important;
}

.check-info-form .check-metadata {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.check-info-form .check-metadata iframe {
    border: none;
}

.check-info-form .check-metadata .author {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.check-info-form .check-metadata .author > * {
    margin-right: 10px;
}

.check-info-form .check-metadata .author > *:last-child {
    margin-right: 0;
}

.check-info-form .content {
    display: flex;
    flex-direction: row;
}

.check-info-form .content > fieldset {
    flex: 1;
    padding-right: 15px;
}

.check-info-form .content > fieldset:last-child {
    padding-right: 0;
}

.check-info-form .content > fieldset > div > div {
    margin-bottom: 15px;
}

.check-info-form .app-operations {
    display: flex;
    margin-top: 10px;
    justify-content: center;
}

.check-info-form .print-options,
.check-info-form .style-options {
    display: flex;
    margin-bottom: 20px;
}

.check-info-form .print-options > div {
    width: 100px;
    margin-right: 15px;
}

.check-info-form .print-options > div:last-child {
    margin-right: 0;
}

.check-info-form .print-options .save-dir-input,
.check-info-form .style-options .theme-css-input {
    flex: 1;
}

.check-info-form .divider {
    margin-bottom: 20px;
}

.print-paper {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.operation-btn {
    margin-right: 15px !important;
}

.operation-btn:last-child {
    margin-right: 0 !important;
}
