@font-face {
  font-family: 'Computo Monospace';
  src: url('https://raw.githubusercontent.com/DickyT/cdn/main/ComputoMonospace.ttf');
}

main {
  width: 750px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.app-header {
  margin-top: 15px;
  margin-bottom: 20px;
}

.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #3b3b3b;
  width: 200px;
  height: 120px;
  justify-content: center;
  border-radius: 15px;
}

.loading img {
  height: 35px;
  width: 35px;
}

.loading .loading-text {
  margin-top: 10px;
  color: white;
  font-weight: 600;
  font-size: 18px;
}

.home-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.home-logo .right-text {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  align-items: flex-start;
}

.home-logo span.title {
  margin: 0;
  font-family: 'Computo Monospace';
  font-size: 25px;
}

.home-logo .subtitle {
  display: inline-flex;
  align-items: center;
}

.home-logo .subtitle a {
  display: inline-flex;
}

.github-badge {
  margin-left: 10px;
}

.home-logo > .fas {
  color: rgb(255,45,85);
}

.main-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.main-content > hr {
  width: 100%;
}

.check-canvas,
.check-back-canvas {
  border: 1px solid #ececec;
}
